
.container-dashbord{
    header{
        @import "hearder";
    }
    main{
        position: relative;
        display :grid;
        grid-template-columns: 250px auto;
        .col-navbar{
            width: 250px;
        /* debut de la sidebar */ 
        @import "sidebar";
        /* fin de la sidebar */
    }
        .col-dashbord{
            
            display: grid;
            grid-template-rows: 100px minmax(100vh auto);
            grid-template-columns: 1fr;
            padding: 15px;
            @media (max-width:768px){
                grid-template-rows: 100px minmax(100vh auto);
                grid-template-columns: auto;
            }
            /* debut de la adminbar */ 
            @import "adminbar";
            /* fin de la la adminbar */ 
        } 
        

    }
}


    .close-sidebar-mobi {
        @media (max-width:768px){
        left:-250px !important;
        animation-name: sideshow;
        animation-duration: 4s;
      }
    }
    .close-sidebar {
        @media (min-width:768px){
        left:-250px !important;
        animation-name: sideshow;
        animation-duration: 4s;
      }
    }
    .close-main-mobi {
        @media (max-width:768px){
            grid-template-columns: 0px auto !important;

          }
       
    } 
    .close-main {
        @media (min-width:768px){
            grid-template-columns: 0px auto !important;
          }
       
    } 
    .hover-menu-activeted{
        background-color: var(--primary-color);
        color: white;
    }

    @keyframes sideshow {
        0%   {left:-250px;}
        25%  {left:-125px;}
        50%  {left:0px;}
        75%  {left:125px;}
        100% {left:250px;}
      }

      .rotate{
        transform:rotate(90deg);
    } 

