/* #######################################################*/
/* DEBUT DE HEADER */ 
header{
    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: 10px 100px;
    grid-template-rows: 10px auto !important;
    @import "hearder";
    
}
.close-msg-header{
  grid-template-rows: 10px auto !important;
}
/* FIN DE HEADER */ 
/* #######################################################*/
.container-dashbord{
/* #######################################################*/ 
    /* DEBUT DE MAIN */ 
    main{
        position: relative;
        display :grid;
        grid-template-columns: 250px auto;
 /* -----------------------------------------------------*/       
        .col-navbar{
            width: 250px;
        /* debut de la sidebar */ 
        @import "sidebar";
        /* fin de la sidebar */
         }
 /* -----------------------------------------------------*/ 
        .col-dashbord{
            
            display: grid;
            grid-template-rows: 100px 1fr;
            grid-template-columns: 1fr;
            padding: 20px;
            @media (max-width:768px){
                grid-template-rows: 100px auto;
                grid-template-columns: 1fr;
            }
 /* -----------------------------------------------------*/ 
            /* debut de la adminbar */ 
            @import "adminbar";
            /* fin de la la adminbar */ 
 /* -----------------------------------------------------*/ 
             /* debut de la boxpage*/ 
             .box-page{
                @media (min-width: 768px){
                    padding: var(--padding);
                }
                >.box{
                  box-shadow: var(--primary-box-shadow);
                  background-color: var(--third-color);
                  border-radius: var(--border-raduis);
                  
                  margin: var(--margin) 0;
                  padding: var(--padding);
                  @media (max-width: 768px){
                      padding: 5px;
                  }       
              }
                
             }
 /* -----------------------------------------------------*/          
                /* debut de la homepage*/ 
                @import "homepage";
                /* fin de la la homepage */ 
 /* -----------------------------------------------------*/ 
                /* debut de la statspage*/ 
                @import "statspage";
                /* fin de la la statspage */
 /* -----------------------------------------------------*/ 
                /* debut de la statspage*/ 
                @import "elementStatsPage";
                /* fin de la la statspage */

             /* fin de la la boxpage */
 /* -----------------------------------------------------*/ 
        } 
        

    }
}

 /* FIN DE MAIN */ 
 /* #######################################################*/
 /* DEBUT DES OPTIONS POUR SIDEBAR */ 
    .close-sidebar-mobi {
        @media (max-width:768px){
        left:-250px !important;
        animation-name: sideshow;
        animation-duration: 4s;
      }
    }
    .close-sidebar {
        @media (min-width:768px){
        left:-250px !important;
        animation-name: sideshow;
        animation-duration: 4s;
      }
    }
    .close-main-mobi {
        @media (max-width:768px){
            grid-template-columns: 0px auto !important;

          }
       
    } 
    .close-main {
        @media (min-width:768px){
            grid-template-columns: 0px auto !important;
          }
       
    } 
    
    @keyframes sideshow {
        0%   {left:-250px;}
        25%  {left:-125px;}
        50%  {left:0px;}
        75%  {left:125px;}
        100% {left:250px;}
      }

      .rotate{
        transform:rotate(90deg);
    } 

    

